<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130253913731-2hngtstoh0a2e89d65dur4t188jart89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130253913731-2hngtstoh0a2e89d65dur4t188jart89</string>
	<key>API_KEY</key>
	<string>AIzaSyDgxoEE2grdB_upaZGRH4buBjHiLOrBeyA</string>
	<key>GCM_SENDER_ID</key>
	<string>130253913731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roaTechie.Dude-Garden-Care</string>
	<key>PROJECT_ID</key>
	<string>dude-garden-care</string>
	<key>STORAGE_BUCKET</key>
	<string>dude-garden-care.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130253913731:ios:176f87e369cd9164</string>
	<key>DATABASE_URL</key>
	<string>https://dude-garden-care.firebaseio.com</string>
</dict>
</plist>